/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  max-height: auto;
  line-height: 1.5;
}

.header {
  background-color: #8f8f8f;
}
.menu {
  display: flex;
  padding: 2% 5% 2% 5%;
  justify-content: space-between;
  width: 100%; /* take full width of the parent div */
  height: 32px;
}

.menu ul {
  display: flex;
  justify-content: flex-start; /* align items to the right */
  width: 85%; /* take half of the parent div's width */
  gap: 10px;
}

.menu ul li:first-child {
  margin-right: auto; /* push the first item to the left */
}

.menu li {
  list-style: none;
  margin: 0 10px;
  cursor: pointer;
  text-align: right;
}
.opener-demos {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%; /* take full width of the parent element */
  background-color: #c4c4c4;
  min-height: 25vh;
}

.opener {
  padding: 20px;
  text-align: left;
  width: 50%;
}

.trusted-companies {
  background-color: #ededed; /* light gray background */
  margin: 0 auto;
  max-width: 100%; /* adjust the width as needed */
  text-align: center;
  min-height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vh;
  max-width: 100%;
  margin: 0 auto;
  padding: 5% 5% 5% 5%;
  width: 100%;

  flex-wrap: nowrap;
}

.product-info {
  background-color: #ededed; /* light gray background */
  padding: 20px; /* add some space around the content */
  border: 1px solid #ddd; /* light gray border */
  border-radius: 10px; /* rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* subtle shadow */
  width: 60%; /* take up half of the parent element's width */
  margin: 40px auto; /* center horizontally and add some space around */
  font-size: smaller;
}
.product-info h1 {
  margin-top: 0; /* remove default margin from h1 */
  padding-top: 2vh;
  padding-bottom: 1vh;
}
.product-info button {
  margin-top: 20px;
  background-color: #fff; /* green background */
  color: #333; /* white text */
  border: none; /* remove default border */
  padding: 10px 20px; /* add some space around the text */
  border-radius: 5px; /* rounded corners */
  cursor: pointer; /* change cursor to pointer on hover */
}
.product-info button:hover {
  background-color: #fcd913; /* darker green on hover */
}

.demos {
  background-color: #ededed;
  padding: 2% 2% 2%;
  border: 1px solid #ddd;
  border-radius: 85px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 25%; /* reduce the width to make it more like a smartphone */
  max-height: fit-content;
  margin: 0px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: smaller;
  text-align: center;
}
.demos button {
  margin-top: 20px;
  background-color: #fff; /* green background */
  color: #333; /* white text */
  border: none; /* remove default border */
  padding: 10px 20px; /* add some space around the text */
  border-radius: 5px; /* rounded corners */
  cursor: pointer; /* change cursor to pointer on hover */
}
.demos button:hover {
  background-color: #fcd913; /* darker green on hover */
}
.demos h2 {
  margin-top: 0; /* remove default margin from h1 */
  padding-top: 2vh;
  padding-bottom: 1vh;
}
.demos h3 {
  margin-top: 0; /* remove default margin from h1 */
  padding-bottom: 1vh;
}

.randominfobox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  height: 4vh;
  padding-left: 2vh;
  padding: 5px 5px; /* add some space around the text */
}
.randominfobox1-2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: fit-content;
  padding-left: 2vh;
  padding: 5px 5px; /* add some space around the text */
}
.randominfobox2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c3c3c3;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  height: 6vh;
  padding: 5px 5px; /* add some space around the text */
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.randominfobox3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c3c3c3;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  height: 8vh;
  padding: 5px 5px; /* add some space around the text */
  margin-top: 2rem;
  text-align: justify;
}

.video-section {
  background-color: #ababab;
  height: fit-content;
  font-size: large;
  padding: 2% 2% 2%;
  max-height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  min-height: 25vh;
}
.product-video {
  background-color: #ededed; /* light gray background */
  padding: 20px; /* add some space around the content */
  border: 1px solid #ddd; /* light gray border */
  border-radius: 10px; /* rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* subtle shadow */
  width: 580; /* take up half of the parent element's width */
  margin: 40px auto; /* center horizontally and add some space around */
  font-size: smaller;
  align-items: center;
  display: flex;
  justify-content: center;
}

.trusted-companies .logos object {
  filter: grayscale(100%);
  transition: filter 0.4s ease-in-out;
}

.trusted-companies .logos object:hover {
  filter: grayscale(0);
}
.trusted-companies .logos svg {
  filter: grayscale(100%);
  transition: filter 0.4s ease-in-out;
}

.trusted-companies .logos svg:hover {
  filter: grayscale(0);
}

.features-section {
  background-color: #c4c4c4;
  text-align: center;
  padding-top: 2vh;
}
.features-container {
  padding-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding-bottom: 4rem;
}
.features {
  flex-basis: 30%; /* take up 30% of the available space */
  height: auto;
}
.feature-description {
  text-align: center;
  max-width: 80%; /* set maximum width to 50% */
  margin: 0 auto; /* center the text horizontally */
  font-size: smaller;
  text-align: justify;
}
.feature-title h2 {
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
}

.yalwaysme {
  background-color: #ededed;
  padding-bottom: 4rem;
  text-align: center;
  padding-top: 2vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto; /* change this to auto */
}
.yalwaysme h2 {
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
}
.yalwaysme p {
  text-align: center;
  font-size: smaller;
}

.quiz {
  display: flex;
  list-style: lower-alpha;
  flex-direction: column;
  align-items: center;
  padding: 2% 5% 2% 5%;
  justify-content: space-between;
  width: 100%; /* take full width of the parent div */
}
.quiz p {
  text-align: center;
  font-size: large;
}
.quiz h4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: smaller;
  width: 85%;
  margin: 0 auto;
}
.questions-container {
  display: flex;
  justify-content: space-around;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.question {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  width: 30%;
  text-align: left;
  font-size: smaller;
}
.question p {
  text-align: center;
  font-size: smaller;
}
.question h3 {
  text-align: center;
  font-size: smaller;
}

section {
  margin-bottom: 0px; /* add some margin to the bottom of each section */
}

a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  filter: drop-shadow(0 0 10px rgb(230, 193, 28));
}
a:hover {
  color: orange;
  text-decoration: none;
  font-weight: bold;
  filter: drop-shadow(0 0 10px rgb(255, 255, 255));
}

.features-pricing {
  text-align: center;
  padding-top: 2vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 25vh;
}

.features-pricing h2 {
  margin-bottom: 20px;
}

.features-pricing,
.features-pricing p,
.features-pricing li {
  margin-bottom: 1.5vh;
  font-size: small;
}

.features-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  align-items: stretch; /* add this line to make the feature boxes have the same height */
}

.feature {
  width: 30%;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: justify;
}

.feature h3 {
  margin-top: 0;
  margin-bottom: 1vh;
  font-size: small;
}

.feature ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.feature li {
  margin-bottom: 10px;
}

.price {
  font-weight: bold;
}

.imprint {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 2rem;
}

footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #333;
  color: #fff;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 0px;
  width: 100%;
  font-size: small;
  height: auto;
}
