/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    url("https://as1.ftcdn.net/v2/jpg/12/65/99/00/1000_F_1265990020_fY7xNg0yZXSnH1xy7t8aT2jT1Ng3To35.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

/* Header Styles */

header {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}

header h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

header em {
  font-size: 0.8em;
  font-style: initial;
  color: #ccc;
  display: block;
  margin-bottom: 1em;
}

/* Main Content Styles */

main {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  opacity: 0.6;
}

main h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

main p {
  margin-bottom: 20px;
}

main ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main li {
  margin-bottom: 10px;
}

main strong {
  font-weight: bold;
}

/* Guarantee Section Styles */

.guarantee {
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #ddd;
}

.guarantee h2 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

/* Call to Action Styles */

.call-to-action {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
  margin-top: 20px;
}

.call-to-action p {
  font-size: 1.2em;
  margin-bottom: 10px;
}

a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}
/* Footer Styles */

.link {
  padding: 0.5em 1em;
  text-decoration: none;
  margin-top: 20px;
  text-align: end;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
  clear: both;
  align-self: self-end;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Responsive Design */

@media only screen and (max-width: 768px) {
  main {
    margin: 20px auto;
  }
}

@media only screen and (max-width: 480px) {
  main {
    padding: 10px;
  }
}
