/* Global styles aka reset! */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #383838;
  background-color: #f9f9f9;
}

/* Header styles and first elements */
/*will use classes, I promise! */
header {
  background-color: #333;
  color: #fff;
  padding: 0em;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  position: fixed;
}

header nav {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 2 rem;
  padding: 0.5em;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header nav li {
  margin-right: 20px;
}

header nav a {
  color: #adadada9;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  letter-spacing: 0.3em;
}

header nav a:hover {
  color: #ccc;
}

header .border-gradiant {
  background-image: linear-gradient(to right, #333, #555);
  height: 7px;
  margin: 0.5em 0;
  width: 100vw;
  margin: auto;
  z-index: -1;
  position: absolute; /* update: absolute should work even on mobile phones */
  left: 0;
  right: 0;
}

/* This is where the media queries are consolidated for clarity and efficiency. */
@media (max-width: 768px) {
  header nav ul {
    display: none;
  }
  header .nav-toggle {
    display: block;
  }
  .mal {
    background-image: none;
    padding: 1em;
  }
  .mal h1 {
    font-size: 24px;
  }
  .mal p {
    font-size: 12px;
  }
  .destinations-container {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

@media (max-width: 480px) {
  header {
    padding: 0.5em;
  }
  header nav {
    flex-direction: column;
  }
  header nav li {
    margin-right: 0;
  }
  .mal {
    padding: 0.5em;
  }
  .mal h1 {
    font-size: 18px;
  }
  .mal p {
    font-size: 10px;
  }
  .destinations-container {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}

@media (max-width: 320px) {
  .mal {
    padding: 0.2em;
  }
  .mal h1 {
    font-size: 14px;
  }
  .mal p {
    font-size: 10px;
  }
}

/* we actually got 5 bp's (1 - 5 items per row), including main-section on big screens */
@media (min-width: 1200px) {
  .destinations-container {
    grid-template-columns: repeat(4, minmax(200px, 1fr));
  }

  /* "featured"-article aka main report on big screens */
  .destination:nth-of-type(1) {
    /* outline: 5px solid red; */
    grid-column: 1 / span 2; /* Corrected: Using 'span 2' for clarity and better practice. */
    grid-row: 1 / span 2; /* Corrected: Using 'span 2' for clarity and better practice. */
  }
}

/* first responsive styles for header */

/* more responsive styles */
/* adjusting title & bg on smaller screens */

/* didn't work as intended... YET!!! */
/* @media (max-width: 320px) {
  header {
    display: none;
  }
} */

/* Main section styles */
.mal {
  background-image: linear-gradient(to bottom, #333, #555);
  color: #fff;
  padding: 2em;
  text-align: center;
  margin-top: 2.5rem;
}

.mal h1 {
  font-size: 36px;
  margin: 2rem 0 1rem 0;
}

.mal p {
  font-size: 10px;
  margin-bottom: 2em;
  text-align: center;
  line-height: 1.5;
  filter: drop-shadow(1px 1px 5px silver);
  padding: auto;
  letter-spacing: 0.55em;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 2em;
  margin: 0 2rem 0 2rem;
}
.about-me {
  font-style: bold;
  text-transform: uppercase;
  text-shadow: #4d4d4d;
  font-size: 12px;
  letter-spacing: 0.4em;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  align-self: center;
  background-image: linear-gradient(to bottom, #333, #555);
  color: #ffffff9c;
  border-radius: 5px;
  filter: drop-shadow(3px 5px 7px silver);
  padding: 2.75rem 0.75rem;
}

.about-me-desc {
  font-size: 14px;
  margin-bottom: 20px;
  text-align: justify;
  letter-spacing: 0.2em;
  line-height: 2.13;
  filter: drop-shadow(3px 5px 7px rgb(153, 153, 153));
  padding: 2em;
  align-self: center;
}

/* Image styles and filters */
.social-links img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  filter: grayscale(100%) blur(5px);
  transition: filter 0.3s ease-in-out;
}

.destinations img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  filter: grayscale(100%) blur(5px);
  transition: filter 0.3s ease-in-out;
}

.social-links img:hover {
  filter: brightness(1.2) contrast(1.1) saturate(1.2);
  transform: scale(1.025);
  border-color: #adadada9;
  transition: transform 0.27s ease-in-out;
  filter: drop-shadow(3px 5px 7px rgba(192, 192, 192, 0.466));
}

.destinations img:hover {
  filter: brightness(1.2) contrast(1.1) saturate(1.2);
  transform: scale(1.025);
  border-radius: 20px;
  border-color: #adadada9;
  transition: transform 0.27s ease-in-out;
  filter: drop-shadow(3px 5px 7px rgba(192, 192, 192, 0.466));
}

/* more responsive styles // refactor, prob duplicates now, should delete but I'm hungry now! */
@media (max-width: 768px) {
  .mal {
    background-image: none;
    padding: 1em;
  }
  .mal h1 {
    font-size: 24px;
    color: #4d4d4d;
  }
  .mal p {
    font-size: 12px;
    color: #4d4d4d;
  }
}

@media (max-width: 480px) {
  .mal {
    padding: 0.5em;
  }
  .mal h1 {
    font-size: 18px;
    color: #4d4d4d;
  }
  .mal p {
    font-size: 10px;
    color: #4d4d4d;
  }
}

@media (max-width: 320px) {
  .mal {
    padding: 0.2em;
  }
  .mal h1 {
    font-size: 14px;
    color: #4d4d4d;
  }
  .mal p {
    font-size: 10px;
    color: #4d4d4d;
  }
}
.destinations-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  padding: 20px;
  margin: 5rem 0;
}
.destinations h2 {
  text-align: right;
  margin: 2rem 0 1rem 0;
  padding: 0 1rem 0 1rem;
  opacity: 0.75;
}
.destination {
  padding: 20px;
  border-radius: 10px;
  margin: 0px 0 52px 0;
}

.destination p {
  font-size: xx-small;
  text-align: right;
}

.destination h3 {
  margin-bottom: 5px;
  font-size: smaller;
  text-align: right;
}

@media (max-width: 768px) {
  .destinations-container {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

@media (max-width: 480px) {
  .destinations-container {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}

@media (min-width: 1200px) {
  .destinations-container {
    grid-template-columns: repeat(4, minmax(200px, 1fr));
  }
}

/* "featured"-article aka main report on big screens */
@media screen and (width >= 1200px) {
  .destination:nth-of-type(1) {
    /* outline: 5px solid red; */
    grid-column: 1/-3;
    grid-row: 1/3;
  }
}

/* btn and ftr styles */
.git-button {
  margin-top: 1.2rem;
  background-color: oklch(0.244 0.0001 270.73);
  color: oklch(0.992 0.0001 270.73);
  padding: 1em 2em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
  filter: opacity(0.8);
  border: 1px solid rgba(58, 58, 58, 0.144);
}

.git-button:hover {
  background-color: rgba(192, 192, 192, 0.329);
}

/* who needs a life if you can have a footer? */
footer {
  margin-top: 3rem;
  padding: 1rem;
  background-color: oklch(0.244 0.0001 270.73);
  clear: both;
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 10rem;
  height: 5rem;
  background-image: linear-gradient(to top, #1b1b1b75, #919191);
  border-bottom: 1px solid rgba(58, 58, 58, 0.144);
}

footer .social-links {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  padding: right;
  align-items: center;
  gap: 5rem;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

/* editing social links logos... new effect... rounded... overflow... floating... somehow...we will see */
footer .social-links img {
  width: 40px;
  height: 40px;
}

footer .social-links a {
  margin-right: 1em;
}

footer .social-links a:hover {
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}

.social-icons > * {
  margin: 10px; /* add some spacing between icons */
}

footer .copyright {
  font-size: 12px;
  color: oklch(27.274% 0.00003 271.152 / 0.932);
  margin: 0.5em 0 0 4rem;
  padding-right: 50vw;
  filter: drop-shadow(3px 5px 7px rgba(192, 192, 192, 0.466));
  transition: transform 0.33s ease-in;
}

footer .copyright:hover {
  font-size: 12px;
  color: oklch(30.919% 0.00004 271.152);
  margin-top: 1em;
  padding-right: 50vw;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3), 0 0 15px #fff, 0 0 20px #fff,
    0 0 20px #fff, 0 0 20px #fff, 0 0 40px #fff, -6px 7px 7px #fff,
    8px 2px 6px #fff;
  transition: transform 0.69s ease-out;
  transform: scale(1.069);
}

/* animation ease out of textshado on hover 0.2s with keyframe */

/* ease in 0.2s */

/* ease out 0.2s */

/* coffee */
/* more coffe* */

/* future use*/
header .logo {
  font-size: 24px;
  font-weight: bold;
  margin-right: 10px;
}

header .nav-toggle {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}
/* future use end*